body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: cornsilk;
  height: 100%;
}

* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}

header {
  border: 4px solid rgb(180, 211, 251);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#links {
  position: absolute;
  margin: 20px 0px;
  display: flex;
  top: 0px;
  left: calc(50vw - 120px);
  width: 240px;
}

#router-wrapper {
  height: 100%;
}
.user-page-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  border: 10px solid rgb(180, 211, 251);
  text-decoration: none;
  border-radius: 10px;
  margin: 0px 10px;
  color: white;
  background: black;
  padding: 20px;
}
.login-create-acc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border: 10px solid rgb(238, 245, 255);
  background: rgb(206, 227, 255);
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  padding: 10px;
}

#login-title {
  padding: 10px;
  font-size: 2em;
  font-weight: 800;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
}

main {
  /* border: 1px solid black; */
  padding: 2em;
}

footer {
  /* border: 1px solid black; */
  font-size: 1.2em;
  padding: 0.5rem 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer * {
  margin: 0 5px;
}

footer img {
  width: 40px;
}

ul.navbar {
  align-items: center;
  display: flex;
}

ul.navbar li {
  display: inline-block;
  padding: 0 3px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  font-style: italic;
}

#catalogview {
  /* border: 1px solid gray; */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#catalog {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5em;
  overflow: auto;
  height: 68vh;
}

.item {
  border: 4px solid rgb(182, 214, 255);
  border-radius: 10px;
  background: radial-gradient(
    rgba(255, 196, 196, 0.5),
    rgba(255, 195, 195, 0.5)
  );
  padding: 6px;
  margin: 6px;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px 2px #909bff;
}

button {
  font-size: 1em;
  background-color: rgb(180, 211, 251);
  border-radius: 15px;
  padding: 6px 10px;
  margin: 6px;
}

input {
  padding: 10px;
  font-size: 1em;
  border: 5px solid #909bff;
  border-radius: 10px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  /* box-shadow: 4px 4px 4px 4px #f89a9a; */
  background: radial-gradient(rgb(180, 211, 251), rgb(182, 214, 255));
  outline: none;
}

input[type='submit']:active {
  box-shadow: 2px 2px 2px 2px #f89a9a;
  background: radial-gradient(rgb(180, 211, 251), rgb(182, 214, 255));
  outline: none;
}

input[type='submit']:focus {
  outline: none;
}

button:active {
  box-shadow: 2px 2px 2px 2px #f89a9a;
  background: radial-gradient(rgb(180, 211, 251), rgb(182, 214, 255));
  outline: none;
  border: none;
}
button:focus {
  outline: none;
}

.has-been-favorited {
  background-color: rgb(134, 185, 251);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 2.5em;
}

/* #add-to-favorites {
  padding: 0.5em;
  border-radius: 1em;
  background-color: #5691ff;
  color: white;
} */

#description {
  font-size: 0.75em;
  padding-bottom: 0.5em;
}

/* verlay styles, all needed */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
.modal {
  width: 60%;
  /* height: 80%; */
  /* line-height: 200px; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -430px;
  margin-left: -30%;
  background-color: #ffdd99;
  border-radius: 10px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
  padding: 30px 0;
  box-shadow: 2px 2px 1px 1px #a9b2ff;
}

#favoritesModal {
  height: 100%;
}

#favoritesSummary {
  padding: 50px 30px;
  font-size: 1.5em;
}

#favoritesSummary li {
  display: flex;
  justify-content: space-between;
}

/* .productSummary {
  padding: 3px;
} */

#favoritesSummary .favoritesHeader {
  font-weight: 900;
  margin: 20px 0;
}

.text {
  padding: 0.2em;
  font-size: 16px;
}
.item-name {
  font-weight: 800;
  font-style: italic;
  font-size: 18px;
  margin-top: 0.5em;
}
a.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
}

a.btn:hover {
  background-color: #e3e3e3;
  border-color: rgba(0, 0, 0, 0.5);
}

a.btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}

a.btn.btn-blue {
  background-color: #699db6;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

a.btn.btn-blue:hover {
  background-color: #4f87a2;
  border-color: rgba(0, 0, 0, 0.5);
}

a.btn.btn-blue:active {
  background-color: #3c677b;
  border-color: rgba(0, 0, 0, 0.9);
}
